/* ==========================================================================
   Info Section
   ========================================================================== */
.personal {
  display: flex;
  flex-direction: row;
  height: 100rem;
  margin-top: 20rem;
  position: relative;
  background-color: $color-off-black;

  &__flex-container-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: relative;
    width: 50%;
    height: 70rem;
    margin-left: 5rem;

    &--hello-title {
      font-family: neueMontrealBold,futuraMaxi, helvecticaNeueMed;
      font-size: 20rem;
      -webkit-text-stroke: 0.7px $color-primary;
      color: transparent;
      margin-left: 10rem;
      z-index: 20001;
      align-self: flex-start;


      @include respond(phone) {
        font-size: 13rem;
        position: absolute;
        top: 10%;
        right: 10%;
        
      }
    }

    &--hi {
      color: $color-off-white;
      font-family: neueMontrealBold, futuraMaxi, helvecticaNeueBold;
      font-size: 8.5rem;
      z-index: 20001;
      align-self: flex-start;

      @include respond(tab-port) {
        width: 100%;
        align-self: center;
        font-size: 8rem;
      }

      @include respond(phone) {
        font-size: 4.5rem;
        align-self: flex-start;
        position: absolute;
        top: 55%;
        width: 80%;
        
      }
    }

    &--why {
      width: 100%;
      
      z-index: 20001;
      writing-mode: vertical-rl;
      text-orientation: mixed;

      & p {
        color: $color-primary;
        font-size: 2rem;
        width: 86%;
        height: 25rem;
        font-family: helvecticaNeueMed;
        position: absolute;
        right: 87%;
        top: 49%;
        

        @include respond(tab-port) {
          width: 100%;
          align-self: flex-start;
      }

        @include respond(phone) {
          width: 75%;
          font-size: 1.7rem;
          position: absolute;
          right: 85%;
          top: 30%;
           
        }
      }

      
      

      @include respond(tab-port) {
        width: 60%;
        align-self: center;
      }

      @include respond(phone) {
        margin-top: 5rem;
        align-self: flex-start;
      }
    } 

    & .keepScrolling {
      font-size: 6rem;
      font-family: neueMontrealBold, futuraMaxi, helvecticaNeueBold;
       -webkit-text-stroke: 0.7px $color-off-white;
      color: transparent;
      width: 80%;
      z-index: 1;
      
      position: absolute;
      left: 25%;
      top: 99%;
      

      @include respond(phone) {
        display: none;
        font-size: 3.5rem;
        width: 50%;
        bottom: 40%;
        left: 30%;
      }
    }

    @include respond(tab-port) {
      justify-content: center;
      width: 100%;
    }

    @include respond(phone) {
      justify-content: center;
      align-items: flex-start;
      width: 100%;
    }
  } //<< flex container 1

  &__flex-container-2 {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--photo-strip {
      position: absolute;
      margin-top: 7rem;
      width: 60%;
      justify-self: flex-end;
      
      z-index: 10001;

      @include respond(tab-port) {
        
      }

      @include respond(phone) {
        margin: 0 0 10rem 10rem;
        
      }
    }

    &--strip-hor {
      display: none;

      @include respond(tab-port) {
        display: none;
        position: absolute;
        height: 80%;
        align-self: center;
        justify-self: center;
        margin-top: 8rem;
        z-index: 10001;
      }

      @include respond(phone) {
        height: 60%;
        margin-top: 5rem;
        top: -35%;
      }
    }

    &--animated-blob {
      background: $color-primary;
      height: 800px;
      width: 800px;
      position: absolute;
      left: 30%;
      top: 5%;
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      animation: morph 6s linear infinite alternate;
      z-index: 0;

      @include respond(tab-port) {
        height: 600px;
        width: 400px;
        top: -10%;
        left: 35%;
      }

      @include respond(phone) {
        height: 400px;
        width: 400px;
        left: 25%;
        top: -90%;
      }
    }

    &--quote {
      position: absolute;
      bottom: 5%;
      left: 20%;
      width: 55%;
      color: $color-off-white;
      text-align: left;
      font-size: 2rem;
      z-index: 10001;
     
      font-family: helvecticaNeueMed, sans-serif;


      @include respond(tab-port) {
        text-align: right;
        width: 50%;
        top: -40%;
        left: 40%;
      }

      @include respond(phone) {
        text-align: right;
        top: 70%;
        left: 35%;
        font-size: 1.5rem;
        width: 52%;
      }
    }

    @include respond(tab-port) {
      width: 100%;
      height: 40rem;
    }
  }

  @include respond(tab-port) {
    flex-direction: column;
    height: 100rem;
  }

  @include respond(tab-port) {
    height: 110rem;
    margin-top: 5rem;
  }
} // <<< Personal

