//Colors

//BETA COLOR
$color-primary: #CC3323 ;


$color-off-white: #f0faf1;
$color-off-black: #151515;

//Project Color
$color-hh: #93bab9 #61501c #E4D4BB #eb1232;
$color-trillo: #eb2f64;
$color-natours: #55c57a;


//Fonts
//WesFy
$font-wesfy-extra-bold: WesFyExtraBold;
$font-wesfy-bold: WesFyBold;
$font-wesfy-medium: WesFyMedium;
$font-wesfy-regular: WesFyRegular;
$font-wesfy-light: WesFyLight;



$font-aileron-bold: AileronBold;

// Font Sizes
$default-font-size: 1.6rem;

// Grid
$grid-width: 120rem;
$gutter-vertical: 2rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// Stars
$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

// Arrow
$size: 50px;
$speed: 3s;
$peakopacity:0.7;


