*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // This defines what 1rem is
    -webkit-scroll-behavior: smooth;
            scroll-behavior: smooth;
            overflow-x: hidden;
            position: relative;

    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

body {
    background-color: $color-off-black;
    box-sizing: border-box;
    overflow-x: visible;
    position: relative;
    transition: background-color .2s ease;
    
}
